body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #efe7e7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 500px;
}

.numbers, .paragraphs {
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
    margin-bottom: 20px;
}

.number, .para {
    padding: 30px;
}
.para.show {
    background-color: blue;
}
.number.active {
    background-color: blueviolet;
    color: white;
    width: 40px;
    border-radius: 100%;
}

.btn {
    background-color: blueviolet;
    color: white;
    margin: 25px;
height: 65px;
    width: 20%;
    border-radius: 40%;
    border-style: none;
    cursor: pointer;
    transition: background-color 0.3s;
font-size: x-large;
}

.btn:hover {
    background-color: rgb(32, 2, 39);
}

.disabled {
    background-color: rgb(135, 147, 148);
}